@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    margin-left: 30px;
    font-family: 'Open Sans', sans-serif;
    color: white;
}
input {
    font-size: medium;
    margin-top: 2px;
    margin-bottom: 5px;
}
#start, #end, #paid {
    width: 103px;
}
#container {
    display: flex;
    flex-wrap: wrap;
}
h2 {
    color: rgb(41, 141, 41);
}

form {
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin-right: 20px;
    margin-bottom: 20px;
    flex-shrink: 0;
    
}
#first {
    background-color: rgb(41, 141, 41);
    height: 386px;
}
#second {
    background-color: rgb(136, 136, 136);
    height: 150px;
}
#third {
    background-color: rgb(100, 50, 50);
    height: 300px;
}

.dollar {
    position: absolute; 
    margin-left: 3px; 
    margin-top: 3px; 
    color: black;
}